/* ----- RESETS ----- */

*{
  list-style: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: black;
  outline: none;
  border: none;
  color: inherit;
}

body{
  overflow-y: scroll;
}

/* FUENTES */

html{
  font-family: 'poppins';
}


/* ----- POR TAG ----- */
button{
  cursor: pointer;
  border-radius: 6px;
  transition: transform 0.25s;
  white-space: nowrap;
}

button:hover{
  transform: scale(1.1);
}
nav ul li:hover{
  transform: scale(1.1);
}
nav ul li{
  cursor: pointer;
  transition: transform 0.25s;
}

/* CLASES */

.none{display: none;}
.block{display: block;}

/* sm */
@media screen and (min-width: 640px) {
  .sm-none{display: none;}
  .sm-block{display: block;}
}

/* md */
@media screen and (min-width: 768px) {
  .md-none{display: none;}
  .md-block{display: block;}
}

/* lg */
@media screen and (min-width: 1024px) {
  .lg-none{display: none;}
  .lg-block{display: block;}
}

