.section-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-image: linear-gradient(to right top, #1f8a70, #007973, #006670, #005468, #00425a); */
    height: 90vh;
    text-align: center;
    gap: 2em;
}

.section-2 img{
    border-radius: 10px;
}

/* sm */
@media screen and (min-width: 640px) {}

/* md */
@media screen and (min-width: 768px) {
   .section-2{
    align-items: center;
    align-content: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
   }

   .section-2 h2{
    grid-column-end: span 4;
   }
   .section-2 img{
    width: 30vw;
    grid-column-end: span 1;
   }
   .section-2 p{
    text-align: left;
    grid-column-end: span 3;
   }
}

/* lg */
@media screen and (min-width: 1024px) {}