/* ----- COLORES ----- */
.bg-naranja{background-color: #FC7300} 
.naranja{color: #FC7300;}
.border-naranja{border-color: #FC7300;}

.bg-azul{background-color: #00425A;}
.azul{color: #00425A;}
.border-azul{border-color: #00425A;}

.bg-verde{background-color: #1F8A70;}
.verde{color: #1F8A70;}
.border-verde{border-color: #1F8A70;}

.bg-negro{background-color: #181823;}
.negro{color: #181823;}
.border-negro{border-color: #181823;}

.bg-blanco{background-color: #EFF5F5;}
.blanco{color: #EFF5F5;}
.border-blanco{border-color: #EFF5F5;}

/* ----- OTROS ----- */

.boton-primario{
    padding: 0.75em 1em;
}

.boton-secundario{
    padding: 0.75em 1em;
    border-style: solid;
    border-width: 2px;
    background-color: transparent;
}

